<template name="coaching">
  <div class="header coaching-header">
    <h1>What Else We Offer</h1>
  </div>

  <div class="content">
    <div class="coaching-content row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>To enquire about any coaching we offer please <a href="/contact/">contact us.</a></h2>

        <div class="option">
          <h2>Birthday Parties</h2>

          <h3>We offer fantastic birthday party packages and can adapt the package to suit your needs. <br/>Our parties include:</h3>

          <ul>
            <li>90 minutes coaching by two coaches (with full equipment).</li>
            <li>Indoor Venue (sports hall).</li>
            <li>Certificates for each child.</li>
            <li>A winners trophy for birthday child.</li>
          </ul>
        </div>

        <div class="option">
          <h2>Holiday Camps</h2>

          <h3>Each Half term we run 2/4 day holiday camps for all children aged between 4 - 10 years old. Details:</h3>

          <ul>
            <li>09:00 - 15:00 (registration from 08:45)</li>
            <li>Each day is filled with fun games, drills, competitions and tournaments.</li>
            <li>Each child receives a holiday camp certificate at the end of each course.</li>
            <li>Each day costs £15 per child.</li>
            <li>All you have to do is drop them off with lunch, snacks and drinks, and pick them up at the end of the day. Leave the rest to us.</li>
          </ul>
        </div>

        <div class="option">
          <h2>Coaching in Schools</h2>

          <h3>We currently provide both pre-schools and primary schools a range of sports coaching sessions on a weekly basis, including:</h3>

          <ul>
            <li>Breakfast clubs</li>
            <li>Lunchtime provision</li>
            <li>After school clubs</li>
            <li>PE lessons</li>
          </ul>

          <p>To enquire about school coaching session and book a FREE trial please <a href="/contact/">CONTACT US HERE.</a></p>
        </div>

        <div class="option">
          <h3 class="additonal-sports">As well as football we also offer coaching sessions for the following:</h3>

          <ul>
            <li>Dodgeball</li>
            <li>Hockey</li>
            <li>Basketball</li>
            <li>Multi-skills/co-ordination</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  {{> footer}}
</template>