<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jack Obeney</title>
    <meta name="description" content="Personal site">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="subMenu hidden-xs">
    <img id="logo" src="logo.png">
      <nav class="inner">
        <a class="subNavBtn" href="#s1">About Us</a>
        <a class="subNavBtn" href="#s2">Meet the Coaches</a>
        <a class="subNavBtn" href="#s3">Contact Us</a>
      </nav>
    </header>

    <div class="header">
      <h1>Essex Elite</h1>
      <h3>Football Coaching</h3>
    </div>

    <div class="content container-fluid">

      <div class="about row s1">

        <!-- <div class="my-face col-xs-12 col-md-4">
          <img class="img-circle" src="assets/me-min.jpg">
          <p><a href="https://twitter.com/JackObeney">@jackobeney</a></p>
          <p>Canterbury, UK</p>
        </div> -->

        <div class="col-xs-12">
          <h1>About Us</h1>
          <p>
          Essex Elite football coaching was established in 2012 by co-founders Billy and Joe. Between them they have almost 15 years of coaching experience, which includes coaching Premier League and League Two Football Clubs. They have both played football to a semi professional standard for local teams and have a good knowledge of the local youth football set up.
          </p>
        </div>

      </div>

      <div class="coaches row s2">

        <div class="col-xs-12">
          <h1>Meet the Coaches</h1>

        </div>

      </div>

      <div class="contact row s3">

        <div class="col-sm-8">
          <h1>Contact Us</h1>
          <form>
            <div class="form-group">
              <label>name *</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>e-mail *</label>
              <input class="form-control" type="email">
            </div>
            <div class="form-group">
              <label>message *</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>
            <button href="#" type="submit" class="btn btn-default">Send</button>
          </form>
        </div>

      </div>

      <div class="footer row">
        <hr/>
        <div class="col-xs-8">
          <small>&#169; 2015 Jack Obeney</small>
        </div>
        <div class="col-xs-4 social-icons">
          <a href="https://twitter.com/JackObeney"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="https://www.linkedin.com/profile/view?id=295746696"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </div>
      </div>

    </div>

  </body>
