<template name="team">

  <div class="header contact-header">
    <h1>Meet The Team</h1>
  </div>

  <div class="content">

    <div class="coach-content row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row coach" id="coach-1">
          <div class="col-xs-8">
            <h2>Joe Osborne</h2>
            <h3>Founder/Head Coach</h3>
            <div class="attribute"><p class="key">Team:</p> <p>West Ham</p> <br/></div>
            <div class="attribute"><p class="key">Position:</p> <p>Centre Midfield</p> <br/></div>
            <div class="attribute"><p class="key">Favourite player & why:</p> <p>Paul Scholes... His range of passing and control of the game is second to none.</p> <br/></div>
            <div class="attribute"><p class="key">Superstitions before a game:</p> <p>I always have to tape my socks thoroughly (it just feels wrong without tape) and I have to bag the number 8 shirt.</p> <br/></div>
            <div class="attribute"><p class="key">Boots:</p> <p>Copa Mundials</p> <br/></div>
          </div>

          <div class="col-xs-4">
            <img class="img-circle" src="joe.jpg">
          </div>
        </div>

        <div class="row coach" id="coach-2">
          <div class="col-xs-8">
            <h2>Dean Cooper</h2>
            <h3>Coach</h3>
            <div class="attribute"><p class="key">Team:</p> <p>Liverpool</p> <br/></div>
            <div class="attribute"><p class="key">Position:</p> <p>Centre Midfield</p> <br/></div>
            <div class="attribute"><p class="key">Favourite player & why:</p> <p>Steven Gerrard... He's a club leader and a complete workhorse.</p> <br/></div>
            <div class="attribute"><p class="key">Superstitions before a game:</p> <p>Right boot and shin pad has to go on before the left.</p> <br/></div>
            <div class="attribute"><p class="key">Boots:</p> <p>Copa Mundials</p> <br/></div>
          </div>

          <div class="col-xs-4">
            <img class="img-circle" src="dean.jpg">
          </div>
        </div>

        <div class="row coach" id="coach-3">
          <div class="col-xs-8">
            <h2>John Hanaran</h2>
            <h3>Coach</h3>
            <div class="attribute"><p class="key">Team:</p> <p>Chelsea</p> <br/></div>
            <div class="attribute"><p class="key">Position:</p> <p>Right Back</p> <br/></div>
            <div class="attribute"><p class="key">Favourite player & why:</p> <p>Gianfranco Zole... Pure genius.</p> <br/></div>
            <div class="attribute"><p class="key">Superstitions before a game:</p> <p>I have to wear 3 layers of socks, have to have my sleeves rolled up, and have to wear the number 2 shirt or have number 2 on it.</p> <br/></div>
            <div class="attribute"><p class="key">Boots:</p> <p>Adidas Predators</p> <br/></div>
          </div>

          <div class="col-xs-4">
            <img class="img-circle" src="john.jpg">
          </div>
        </div>

        <div class="row coach" id="coach-4">
          <div class="col-xs-8">
            <h2>Jack Bassett</h2>
            <h3>Coach</h3>
            <div class="attribute"><p class="key">Team:</p> <p>Arsenal</p> <br/></div>
            <div class="attribute"><p class="key">Position:</p> <p>Right Back</p> <br/></div>
            <div class="attribute"><p class="key">Favourite player & why:</p> <p>Thiery Henry... Absoloute legend on and off the ball.</p> <br/></div>
            <div class="attribute"><p class="key">Superstitions before a game:</p> <p>I don't need a routine... just pure talent.</p> <br/></div>
          </div>

          <div class="col-xs-4">
            <img class="img-circle" src="jack.jpg">
          </div>
        </div>

      </div>
    </div>

  </div>

  {{> footer}}
</template>