<template name="timetable">
  <div class="header timetable-header ">
    <h1>Session Timetable</h1>
  </div>

  <div class="content">
    <div class="timetable-content row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Select a session to enquire about it.</h2>

        <div class="day">
          <h2>Monday</h2>

          <h3>St Bernards High School (Westcliff-on-sea)</h3>

          <button class="sessions" id="session11" data-toggle="modal" data-target="#session-modal" value="Monday 17:15-18:00"><p>17:15 - 18:00 - 3 - 5 year olds</p></button>
          <br/>
          <button class="sessions" id="session12" data-toggle="modal" data-target="#session-modal" value="Monday 18:15-19:00"><p>18:15 - 19:00 - 5 - 8 year olds</p></button>
        </div>

        <div class="day">
          <h2>Wednesday</h2>

          <h3>Shoeburyness & Thorpe Bay Baptist Church (Shoebury)</h3>

          <button class="sessions" id="session21" data-toggle="modal" data-target="#session-modal" value="Wednesday 17:15-18:00"><p>17:15 - 18:00 - 3 - 5 year olds</p></button>
          <br/>
          <button class="sessions" id="session22" data-toggle="modal" data-target="#session-modal" value="Wednesday 18:15-19:00"><p>18:15 - 19:00 - 5 - 8 year olds</p></button>
        </div>

        <div class="day">
          <h2>Saturday</h2>

          <h3>Seevic College (Benfleet)</h3>

          <button class="sessions" id="session31" data-toggle="modal" data-target="#session-modal" value="Saturday 10:15-11:00"><p>10:15 - 11:00 - 3 - 5 year olds</p></button>
          <br/>
          <button class="sessions" id="session32" data-toggle="modal" data-target="#session-modal" value="Saturday 11:15-12:00"><p>11:15 - 12:00 - 5 - 8 year olds</p></button>
        </div>

      </div>
    </div>
  </div>

  {{> footer}}
</template>