html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 8rem;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #EBE8DE;
}

header {
  width: 100%;
  height: 9%;
  background-color: #1E5B95;

  i {
    color: #fff;
    padding: 14px 20px;
  }

  img {
    position: absolute;
    width: 83px;
    height: auto;
    left: 40%;
  }
}

.header {
  h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 400;
  }
}

.about-header {
  background-image: url('about_header.jpg');
  background-size: 150%;
  background-position: 2% 64%;
  padding-top: 250px;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  width: 100%;
  color: #fff;

  h1 {
    top: 60px;
    font-size: 2em;
  }

  h3 {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
  }
}

.contact-header {
  background-image: url('contact_header.jpg');
  background-size: 128%;
  background-position: 25% 58%;
  padding-top: 150px;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  width: 100%;
  color: #fff;

  h1 {
    top: 40px;
    font-size: 2.5em;
  }
}

.timetable-header {
  background-image: url('timetable_header.jpg');
  background-size: 128%;
  background-position: 65% 40%;
  padding-top: 150px;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  width: 100%;
  color: #fff;

  h1 {
    top: 40px;
    font-size: 2.5em;
  }
}

.coaching-header {
  background-image: url('coaching_header.jpg');
  background-size: 128%;
  background-position: 65% 35%;
  padding-top: 150px;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  width: 100%;
  color: #fff;

  h1 {
    top: 40px;
    font-size: 2.5em;
  }
}

.content {
  width: 90%;
  margin-left: 5%;

  h1 {
    text-align: center;
    font-size: 1.8em;
    text-decoration: underline;
    line-height: 1.8em;
  }

  h2 {
    margin: 20px 0 30px 0;
    font-size: 1.4em;
  }

  h3 {
    margin: 0 0 15px 0;
    font-size: 1.3em;
    font-weight: bold;
  }
}

.about-content {
  p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.coach-content {
  .coach:not(:last-child) {
    padding-bottom: 20px;
  }

  img {
    float: left;
    width: 100px;
    height: auto;
  }
}

.timetable-content {
  .day {
    h2 {
      margin: 0 0 10px 0;
      font-weight: bold;
    }

    h3 {
      font-style: italic;
      font-size: 1.2em;
    }

    button {
      font-size: 14px;
      width: auto;
    }

    p {
      margin: 0;
      padding: 10px 0 15px 0;
      color: #1E5B95;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.coaching-content {
  .option {
    h2 {
      margin: 0 0 10px 0;
      font-weight: bold;
    }

    h3:not(.additonal-sports) {
      font-size: 1.2em;
      font-style: italic;
    }

    .additonal-sports {
      font-weight: 400;
    }

    ul {
      font-size: 1.1em;
      padding-left: 18px;
    }

    li {
      padding-bottom: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.callback-form {
  margin-bottom: 50px;
}

form {
  label {
    font-weight: 400;
  }

  button {
    background-color: #1E5B95;
  }
}

button {
  width: 80px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
  &:focus {
    outline:0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 60px;
  margin-left: 5%;
  margin-bottom: 10px;

  a {
    float: right;
    color: #1E5B95;
  }

  small, i {
    line-height: 28px;
  }

  hr {
    border-color: #888;
    margin-bottom: 14px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px)  {
  header {
    img {
      position: absolute;
      width: 100px;
      height: auto;
      left: 44%;
    }
  }

  .about-header {
    padding-top: 300px;
    background-size: 110%;
    background-position: 57% 57%;

    h1 {
      font-size: 3.5em;
    }

    h3 {
      font-size: 2em;
      top: 110px;
    }
  }

  .contact-header {
    background-image: url('contact_header.jpg');
    background-size: 128%;
    background-position: 25% 58%;
    padding-top: 200px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 50px;
      font-size: 3.5em;
    }
  }

  .timetable-header {
    background-image: url('timetable_header.jpg');
    background-size: 128%;
    background-position: 65% 40%;
    padding-top: 200px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 50px;
      font-size: 3.5em;
    }
  }

  .coaching-header {
    background-image: url('coaching_header.jpg');
    background-size: 128%;
    background-position: 65% 40%;
    padding-top: 200px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 50px;
      font-size: 3.5em;
    }
  }

  .content {
    h2 {
      margin-top: 20px;
    }
  }

  .about-content {
    text-align: justify;

    p {
      font-size: 1.4em;
    }
  }

  .coach-content {
    .coach:not(:last-child) {
      padding-bottom: 35px;
    }

    img {
      float: right;
      width: 160px;
      height: auto;
    }

    p {
      text-align: justify;
      margin-top: 20px;
      font-size: 1.4em;
    }
  }

  .footer {
    a {
      font-size: 20px;
    }
  }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
  header {
    button {
      margin-left: 20%;
    }

    img {
      position: absolute;
      width: 120px;
      height: auto;
      left: 45%;
    }
  }

  .about-header {
    background-size: 100%;
    background-position: 2% 60%;
    padding-top: 500px;

    h1 {
      font-size: 3.5em;
      top: 145px;
    }

    h3 {
      font-size: 2em;
      top: 200px;
    }
  }

  .contact-header {
    background-image: url('contact_header.jpg');
    background-size: 105%;
    background-position: 5% 60%;
    padding-top: 300px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 65px;
      font-size: 3.5em;
    }
  }

  .timetable-header {
    background-image: url('timetable_header.jpg');
    background-size: 128%;
    background-position: 65% 42%;
    padding-top: 300px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 65px;
      font-size: 3.5em;
    }
  }

  .coaching-header {
    background-image: url('coaching_header.jpg');
    background-size: 128%;
    background-position: 65% 36%;
    padding-top: 300px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 65px;
      font-size: 3.5em;
    }
  }

  .content {
    h2 {
      margin-top: 20px;
    }
  }

  .about-content {
    text-align: justify;

    p {
      font-size: 1.4em;
    }
  }

  .coach-content {
    img {
      float: right;
      width: 180px;
      height: auto;
    }

    p {
      text-align: justify;
      padding-top: 40px;
      font-size: 1.4em;
    }
  }

  .footer {
    a {
      font-size: 20px;
    }
  }
}

@media only screen and (min-device-width: 1200px) {
  header {
    button {
      margin-left: 20%;
    }

    img {
      position: absolute;
      width: 120px;
      height: auto;
      left: 47%;
    }
  }

  .about-header {
    background-size: 100%;
    background-position: 2% 60%;
    padding-top: 500px;

    h1 {
      font-size: 3.5em;
      top: 145px;
    }

    h3 {
      font-size: 2em;
      top: 200px;
    }
  }

  .contact-header {
    background-image: url('contact_header.jpg');
    background-size: 105%;
    background-position: 5% 60%;
    padding-top: 300px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 65px;
      font-size: 3.5em;
    }
  }

  .timetable-header {
    background-image: url('timetable_header.jpg');
    background-size: 128%;
    background-position: 65% 42%;
    padding-top: 300px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 65px;
      font-size: 3.5em;
    }
  }

  .coaching-header {
    background-image: url('coaching_header.jpg');
    background-size: 128%;
    background-position: 65% 36%;
    padding-top: 300px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;

    h1 {
      top: 65px;
      font-size: 3.5em;
    }
  }

  .content {
    h2 {
      margin-top: 20px;
    }
  }

  .about-content {
    text-align: justify;

    p {
      font-size: 1.4em;
    }
  }

  .coach-content {
    img {
      float: right;
      width: 200px;
      height: auto;
    }

    p {
      text-align: justify;
      padding-top: 50px;
      font-size: 1.4em;
    }
  }

  .footer {
    a {
      font-size: 20px;
    }
  }
}
